<?xml version="1.0" encoding="UTF-8"?>
<application>
  <id type="desktop">springlobby.desktop</id>
  <project_license>GPL-2.0</project_license>
  <metadata_license>CC0-1.0</metadata_license>
  <provides>
    <id>springlobby.desktop</id>
  </provides>
  <name>SpringLobby</name>
  <summary>SpringLobby is a free cross-platform lobby client for the Spring RTS project.</summary>
  <url type="homepage">https://springlobby.springrts.com/</url>
  <screenshots>
    <screenshot type="default">https://springlobby.springrts.com/screenshots/02.png</screenshot>
    <screenshot>https://springlobby.springrts.com/screenshots/03.png</screenshot>
  </screenshots>
  <releases>
    <release version="0.269"/>
  </releases>
</application>